@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="jumbotron">
    <h2 class="text-success">Your booking was success.</h2>
    <p class="lead">Thank you for your reservation with us.
We sent a confirmation message to you via the Internet.
 You do not need to reply to this e-mail, but you may wish to save it for your records.Thank you.
    </p>
    <p>@Html.ActionLink("Back To Home", "Index", "Home", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>



